<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('require', 'displayfeatures');
  ga('create', 'UA-25416273-1', 'alfredkam.com');
  ga('send', 'pageview');
</script>
<scrpit src='/scripts/vendor.js' type='text/javascript'></script>
<script src='/scripts/app.js' type='text/javascript'></script>
